body.dark-mode {
    background-color: #121212;
    color: #fff;
}

.nav-link.active {
    color: #fff;
    border-left: 4px solid #091bc0;
    background-color: transparent;
}

.nav-link.parent-expanded {
    color: #fff;
    background-color: transparent;
}

.collapse.show .nav-link.active {
    border-left: 4px solid #091bc0;
}

.collapse:not(.show) .nav-link {
    border-left: none;
}

@media (max-width: 767.98px) {
    .navbar-nav .nav-item .nav-link img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 767.98px) {
    .navbar {
        padding: 0.5rem 1rem;
    }
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}